@page "/page4"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Page4</PageTitle>
<h3>Interactive Server prerender: false</h3>

<Counter></Counter>

<LocalStorageServer></LocalStorageServer>

@code {

}
