@page "/page3"
@rendermode InteractiveServer

<PageTitle>Page3</PageTitle>
<h3>Interactive Server</h3>

<Counter></Counter>

<LocalStorageServer></LocalStorageServer>


@code {
    string color;
   
}
